:root {
  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(32, 37%, 92%);
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
  --Btn-hover: hsla(157, 43%, 18%, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 23.4375rem;
  height: 100vh;
  padding: 1.75rem 1rem;
  background-color: var(--Cream);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

main {
  width: 21.4375rem;
  height: 38.1875rem;
  background-color: var(--White);
  border-radius: 10px;
  margin: 14px;
}

img {
  min-width: 343px;
  height: 240px;
  border-radius: 10px 10px 0 0;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 371px;
  width: auto;
  padding: 0 24px;
}

p {
  color: var(--Dark-grayish-blue);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.perfume {
  font-size: 12px;
  letter-spacing: 5px;
}

h1 {
  font-family: "Fraunces", serif;
  color: var(--Very-dark-blue);
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
}

.info-text {
  font-size: 14px;
  line-height: 23px;
}

.group-price {
  display: flex;
  align-items: center;
  gap: 19px;
}

.discounted-price {
  color: var(--Dark-cyan);
  font-family: Fraunces;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
}

.old-price {
  color: var(--Dark-grayish-blue);
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 500;
  line-height: 23px;
  text-decoration-line: line-through;
}

button {
  background-color: var(--Dark-cyan);
  color: var(--White);
  width: 18.4375rem;
  height: 3rem;
  border-radius: 8px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  border: 0;
}

button:hover {
  cursor: pointer;
  background-color: var(--Btn-hover);
}

.btn-group {
  display: inline-flex;
  align-items: flex-start;
  gap: 11.615px;
}

svg {
  width: 14.385px;
  height: 16px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;

    min-width: 90rem;
    height: 100vh;
    padding: 10.9375rem 26.25rem;
  }

  main {
    display: flex;
    min-width: 37.5rem;
    max-height: 28.125rem;
    border-radius: 10px;
  }

  img {
    min-width: 300px;
    min-height: 450px;
    border-radius: 10px 0 0 10px;
  }

  section {
    min-width: 16, 394125rem;
    padding: 8px 32px 0px 32px;
  }

  button {
    width: 14.75rem;
  }
}
